
.grid-container {
    display: grid;
    grid-template-columns: repeat( 12,1fr);
    grid-template-rows: repeat(24,1fr);
    grid-gap: 20px;
    max-width: 1200px !important;
    max-height: auto !important;
     

  }
  .grid-item-1 {
    grid-column: 1/ span 6;
    grid-row: 1 / span 5;
    border-radius: 10px;
    font-size: 4rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0;
    }
  
  .grid-item-2 {
    grid-row: 1 / span 5;
    grid-column: 7/ span 6;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0;
  }
  
  .grid-item-3 { 
    grid-row: 6 / span 8;
    grid-column: 1/ span 2;
     border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0;
  }
  
  .grid-item-4 {
    grid-area: 6 / 3 / span 8 / span 2;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0;
  }

  .grid-item-5 {
    grid-row: 6 /span 16;
    grid-column: 5 / span 6;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0;
  }
  
  .grid-item-6 {
    grid-row: 14 /span 8;
    grid-column: 11 /span 2;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0;
   }
    
  .grid-item-7 {
    grid-row: 14 /span 8;
    grid-column: 1 /span 4;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0;
  }
  
  .grid-item-8 {
    grid-row: 6 /span 8;
    grid-column: 11 /span 2;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0;
   }
  
  .grid-item-9 {
    grid-row: 22 /span 8;
    grid-column: 1/span 2;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0;
  }
  
  .grid-item-10 {
    grid-row: 22 /span 8;
    grid-column: 3/span 2;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0;
  }
  
  .grid-item-11 {
    grid-row: 22 /span 8;
    grid-column: 5 / span 8;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin: 0;
   } 
 .card-2{  
  background-image: url("./assets/img/the-lucky-neko-2JcixB1Ky3I-unsplash.jpg");
  object-fit: fill;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

}
 .card-3{  
  background-image: url("/assets/img/tuqa-nabi-5iEBonZDaLk-unsplash.jpg");
  object-fit: fill;
  background-size:auto 90%;
  background-position:center;
  background-repeat:no-repeat;}
 .card-4{ 
   background-image: url("./assets/img/zuzana-hyGX23RpLTU-unsplash.jpg");
   object-fit: fill;
   background-size:auto 90%;
  background-position:center;
  background-repeat:no-repeat;}
 .card-5{  
  background-image: url("./assets/img/the-lucky-neko-rplhB9mYF48-unsplash.jpg");
   object-fit: fill;
  background-size:auto 90%;
 background-position:center;
 background-repeat:no-repeat;}
 .card-6{  
  background-image: url("./assets/img/brett-jordan-b1GG-qCCOiE-unsplash.jpg" );
  object-fit: fill;
  background-size:auto 90%;
 background-position:center;
 background-repeat:no-repeat;}
 .card-7{  
  background-image: url("./assets/img/the-lucky-neko-2JcixB1Ky3I-unsplash.jpg");
  object-fit: fill;
  background-size:auto 90%;
 background-position:center;
 background-repeat:no-repeat;}
 .card-8{ 
   background-image: url("./assets/img/the-lucky-neko-2JcixB1Ky3I-unsplash.jpg");
   object-fit: fill;
   background-size:auto 90%;
  background-position:center;
  background-repeat:no-repeat;}
 .card-9{   background-image: url("./assets/img/nishaan-ahmed-sc2RM1LGGxs-unsplash.jpg" );
 
    object-fit: fill;
 background-size:cover;
 background-position:center;
 background-repeat:no-repeat;}
 .card-10{  
  background-image: url("./assets/img/the-lucky-neko-MEQFUHzCtAo-unsplash.jpg");
  object-fit: fill;
  background-size:auto 90%;
 background-position:center;
 background-repeat:no-repeat;}
 .card-11{  
  background-image: url("./assets/img/jonathan-fink-Sa1z1pEzjPI-unsplash.jpg");
  
  object-fit: fill;
  background-size:auto 90%;
 background-position:center;
 background-repeat:no-repeat;
 
 
 
 
}
 .card-12{  
  background-image: url("./assets/img/nadezhda-nikolaenko-UONij8U_oVc-unsplash.jpg");
  object-fit: fill;
  background-size:auto 90%;
 background-position:center;
 background-repeat:no-repeat;}
           
            